// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.work-sans-font> {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}
.logo{
    position: x 1;
}

.navbar{
    display: flex;
    
  
}

.nav-links{
 display: flex;
}
.display-flex{
    display: flex;
}
.text-orange{
    color: orange;

}
.text-sky-blue{
color: skyblue;
}
.clor-blue{
    color: aqua;
}
.color-bluee{
    color: blueviolet;
}
.nav-item{
list-style: none;
margin-right: 20px;
justify-content: space-between;
position: relative;

}
.nav-items{
    list-style: none;
    margin-right: 1px;
}
.nav-link{
    text-decoration: none;
    font-weight: 290;
}

.btn-primary{
    margin-right: 50px;
    display: flex;
}
.brand{
    
}

.banner-content{
    margin-left: auto;
}

.banner-title{
    font-weight: 600px;
    font-size: 60px;
}
.banner.photo{
    width: 100%;
    
}
.fact-card{
    
    width: 240px;
    height: 240px;
    border-radius: 18px;
    margin-top: 15px 5px 5px;
    background-color: #def5ff;
    
}
.fact-card-2{
    width: 240px;
    height: 240px;
    border-radius: 18px;
    margin-top: 15px 5px 5px;
    background-color: #fff4dc;
}

.fact-card-3{
    
    width: 240px;
    height: 240px;
    border-radius: 17px;
    margin-top: 15px 5px 5px;
   background-color: #f2e8ff;
}
.fact-curricullam{
    text-align: center;
}
.fact-images{
    background-image: url('../B11-A2-Kids-School-main/assets/bg.png');
}

.banner{
    display: flex;
}
.text-black{
    color: black;
}

.btn-primaryy{
    background-color: black;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

..btn-primaryyy{
    background-color: aqua;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 13px;
    font-size: 15px;
    font-weight: 600;
    border: none;
}

.btn-colorr{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.nav-color{
    color: #64c8ff;
    text-align: center;
    
}
.nav-color-2{
    color: rgba(240, 170, 0, 1);
    text-align: center;
}
.nav-color-3{
    color: #f2e8ff;
    text-align: center;
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.card.icons{
    max-width: 540px;
    margin: 50px auto;
    display: flex;
}

   .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
     height: 50px;
     border-radius: mixed;
     background-color: #fea30f;
     
     
   }

  .secondary-bg{
    background-color: #01acfd;
  }

  .bg-colorrr{
    background-color: #ffffff;
  }

  .sory-11{
    height: 400px;
    width: 100%;
    margin-top: 5px auto;
    gap: 5px 5px 5px;
  }

.storys{

    margin-right: 5px;
}

.story{
    background-color: #ffffff;
  margin-top: 100px;
  gap: 5px aut;
  border-radius: 16px 16px 16px;
  

}

.bd-radius{
    border-radius: 16px 16px;
}
.background-color{
    
    background-image: url('../B11-A2-Kids-School-main/assets/bg.png');
}
.centerr{
    text-align: center;
}

.bg-color{
    background-color: #fea30;
    background-image: url('../B11-A2-Kids-School-main/assets/bg.png');

}
 
.infront{
    text-align: center;
}

 .secondary-bg{
    padding: 100px 200px;
    display: flex;
    justify-content: space-between;
    gap: 100px;


    
 }

 .footer-column{
    width: 50%;
    justify-content: space-between;
 }

 .bg-text{
    color: #ffffff;
 }

.nonee {
    list-style: none;
}


@media screen and (max-width: 576px;) {
    .navbar, .nav-links,{
        flex-direction: column;
    }
    .banner{
        margin: 20px;
        flex-direction: column;
    }
    .banner.photo{
        width: 100%;
    }

    .fact-images{
        grid-template-columns: 1fr;
    }
}